*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
body{
    width: 1440px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
/* -------------------------- Header -------------------------- */
header{
    width: 1440px;
    height: 66px;
    background-color: white;
    display: flex;
    padding: 0 146px 0 136px;
}
header img{
    margin-top: 15px;
    width: 102px;
    height: 37px;
}
header ul li{
    font-size: 15px;
    color: #444444;
    list-style: none;
    display: inline;
    margin-right: 30px;
}
header ul li:hover{
    font-size: 16px;
}
header nav{
    margin: 21px 0 0 650px;
}
/* -------------------------- Section 1 -------------------------- */
.Sec1Div{
    width: 1440px;
    background-image: url(../images/BgMain.svg);
    height: 724px;
    padding-top: 245px;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.Sec1Div img{
    align-self: center;
}
.Sec1Div h2{
    width: 456px;
    color: #45525B;
    margin: 19px 0 149px 0;
    font-size: 32px;
    align-self: center;
    font-weight: 400;
}
/* -------------------------- Section 2 -------------------------- */
.Sec2Div{
    width: 1440px;
    height: 486px;
    display: flex;
    padding: 100px 151px 0 136px;
}
h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    width: 444px;
    color: #45525B;
    margin-right: 148px;
}
.LeftDivSec2 p{
    color: #ff8a63;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.AvaOrnSec2{
    display: flex;
}
.Sec2MainText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 287px;
}
.Sec2MainText p{
    font-size: 16px;
}
.LeftDivSec2{
    margin-top: 55px;
}
#ManagingBroker{
    letter-spacing: 2px;
    font-size: 12px;
    color: #6F7278;
    text-transform: uppercase;
}
#AvaOrnText{
    font-size: 16px;
    color: #45525B;
}
.AvaOrnSec2 div{
    margin: 20px 0 0 8px;
}
/* -------------------------- Section 3 -------------------------- */
.Sec3Div{
    width: 1440px;
    height: 931px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.Sec3Div span{
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
}
.Sec3Div span h2{
    color: #45525B;
    font-size: 36px;
    font-weight: 400;
}
.LoremSec3{
    width: 505px;
    color:#6F7278;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 13px;
}
.RequirementsSec3{
    color: #ff8a63;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}
.MainThingSec3{
    align-self: center;
    display: flex;
}
.DivsContainerSec3 div{
    width: 300px;
    height: 169px;
    padding: 21px 70px 0 21px;
}
.Sec3LeftImg{
    margin-right: 32px;
}
.DivsContainerSec3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.FirstDivSec3{
    border-radius: 10px;
    background-color: #fafafc;
    border: 1px solid #caccd1; 
}
.DivsContainerSec3 img{
    background-color: #45525B;
    padding: 12px;
}
.SecondTextSec3{
    font-size: 14px;
    font-weight: 400;
    color: #6F7278;
}
.FirstTextSec3{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #45525B;
}
/* -------------------------- Section 4 -------------------------- */
.Sec4Div{
    width: 1440px;
    height: 600px;
    background-image: url(../images/HouseBg.png);
    padding: 230px 105px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.Sec4Div a{
    display: flex;
    width: 112px;
    height: 21px;
    justify-content: space-between;
    color:#45525B;
    font-size: 15px;
    font-weight: 400;
}
.Sec4Div a img{
    width: 20px;
    height: 11px;
    margin-top: 6px;
}
.NullaSec4{
    width: 255px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #292c32;
    margin: 10px 0 9px 0; 
}
.LambourneRoad{
    letter-spacing: 2px;
    color: #45525B;
    font-size: 14px;
    text-transform: uppercase;
}
/* -------------------------- Section 5 -------------------------- */
.Sec5Div{
    width: 1440px;
    height: 1204px;
    background-color: #fafafc;
    padding: 100px 136px 0 136px;
    display: flex;
    flex-direction: column;
}
.Sec5Div h2{
    font-size: 36px;
    font-weight: 400;
    color: #45525B;
}
.MorbiSec5{
    width: 574px;
    line-height: 22px;
    font-size: 18px;
    color: #6F7278;
    font-weight: 400;
    margin-bottom: 30px;
}
.currentListings{
    color: #ff8a63;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.firstRow{
    display: flex;
    justify-content: space-between;
}
.UnderHouse{
    display: flex;
}
.UnderHouse img{
    width: 20px;
    height: 20px;
    margin: 0 8px 0 30px;
}
.UnderHouse p{
    font-size: 12px;
    color: #45525B;
    font-weight: 400;
}
.SecondRow{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.firstRow div{
    text-align: center;
}
.SecondRow div{
    text-align: center;
}
.Sec5Div h4{
    margin-bottom: 10px;
    color: #45525B;
    font-size: 20px;
    font-weight: 400;
}
.HouseType{
    font-size: 12px;
    font-weight: 400;
    color: #6F7278;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
}
.Card{
    border-radius: 8px;
    background-color: white;
    width: 379px;
    height: 385px;
}
.Card:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}
.PhotoOfTheHouse{
    width: auto;
    height: 267px;
}
.ShowAllListings{
    display: flex;
    align-self: center;
    margin-top: 26px;
}
.ShowAllListings p{
    font-size: 15px;
    font-weight: 400;
    color: #45525B;
    margin-right: 12px;
}
.ShowAllListings a{
    display: flex;
    align-self: center;
}
/* -------------------------- Section 6 -------------------------- */
.Sec6Div{
    width: 1440px;
    height: 484px;
    background-color: white;
    display: flex;
    padding: 100px 136px 0 136px; 
}
.OurPeople{
    font-size: 14px;
    font-weight: 400;
    color: #ff8a63;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.Sec6Div h2{
    line-height: 43px;
    font-size: 36px;
    font-weight: 400;
    color: #45525B;
    width: 309px;
}
.MorbiSec6{
    width: 368px;
    color: #6F7278;
    line-height: 22px;
    font-size: 17px;
    font-weight: 400;
    margin-top: 11px;
}
.Sec6Div a{
    color: #45525B;
    font-size: 15px;
    font-weight: 400px;
    display: flex;
    margin-top: 20px;
}
.Sec6Div a p{
    margin-right: 4px;
}
.agentsInfo{
    margin: 0 16px 16px 0;
    width: 360px;
    display: flex;
}
.agentsInfo div{
    padding: 20px 0 0 8px;
}
.Sec6DivOurPeople{
    margin-right: 64px;
}
/* -------------------------- Section 7 -------------------------- */
.Sec7Div{
    width: 1440px;
    height: 688px;
    background-color: #fafafc;
    display: flex;
    flex-direction: column;
    padding: 100px 136px 0 136px;
}
.Sec7Div .TopText{
    color: #ff8a63;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-self: center;
}
.Sec7Div h2{
    color: #45525b;
    font-size: 36px;
    font-weight: 400;
    align-self: center;
    margin-bottom: 23px;
}
.NewsRoomArrow{
    display: flex;
    color: #45525B;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    align-self: center;
}
.NewsRoomArrow p{
    margin-right: 4px;
}
.Sec7DivCards{
    display: flex;
    justify-content: space-between;
}
.Sec7DivCard{
    width: 376px;
    height: 364px;
    background-color: white;
}
.Sec7DivCard img{
    background-color: #45525B;
}
.Sec7DivCard:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}
#Picture2nd{
    background-color: white;
}
.Sec7Div h6{
    font-weight: 400;
    font-size: 16px;
    color: #45525B;
    line-height: 19px;
    height: 39px;
    margin: 8px 0 10px 30px;
}
.TitleSec7{
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 400;
    color:#ff8a63;
    text-transform: uppercase;
    margin: 28px 0 0 30px;
}
.DateSec7{
    font-size: 13px;
    font-weight: 400;
    color: #6F7278;
    margin-left: 30px;
}
/* -------------------------- Section 8 -------------------------- */
.Sec8Div{
    height: 399px;
    width: 1440px;
    background-color: #45525B;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.Sec8Div a{
    padding: 10px 18px 11px 18px;
    background-color: white;
    color: #45525B;
    border-radius: 6px; 
}
.Sec8Div div{
    align-self: center;
}
.ButtonContact{
    margin-right: 20px;
}
.Sec8Div p{
    align-self: center;
    width: 600px;
    text-align: center;
    color: white;
    font-weight: 400;
}
.SeenEnougnQuestion{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.MorbiSec8{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
}
.Sec8Div h2{
    align-self: center;
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 11px;
}
/* -------------------------- Footer -------------------------- */